#logo {
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 180.74px;
  height: 50px;
}

.card-container {
  width: 50%;
  margin: 0 auto
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.btn-group {
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.btn-cancelar {
  background-color: #fff;
  color: #49B4BB;
  width: 180px;
  height: 40px;
  margin-right: 40px;
}

.btn-cancelar:hover {
  outline-style: solid;
  outline-color: #49B4BB;

}

.btn-confirmar {
  background-color: #49B4BB;
  color: #FFF;
  width: 180px;
  height: 40px;
}

.btn-confirmar:hover {
  background-color: #90D3D7;
  transition: 0.4s;
}
